# Exploring Data Science Tools and Techniques

## Introduction
Welcome to this exploration of data science tools and languages using Jupyterlite Notebook! This notebook aims to provide an overview of the various tools, languages, and libraries frequently used in the realm of data science.

## Data Science Languages
- Python
- R
- SQL

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn

## Data Science Tools
| Tool            | Description                             |
|---------------- |-----------------------------------------|
| Jupyter Notebook| Interactive computing environment       |
| TensorFlow      | Open-source machine learning framework  |
| Tableau         | Data visualization tool                 |

## Arithmetic Expression Examples
In this section, we'll explore simple arithmetic operations using Python.

In [4]:
# Multiplication and addition
result_multiply = 5 * 8
result_addition = 5 + 8
print("Multiplication result:", result_multiply)
print("Addition result:", result_addition)

Multiplication result: 40
Addition result: 13

In [5]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
print("120 minutes is equal to", hours, "hours.")

120 minutes is equal to 2.0 hours.

## Objectives
- Introduce common data science languages and libraries
- Explore basic arithmetic operations in Python
- Showcase conversion methods within data science

## Author
- Reykal